<h1>Clientes</h1>

<% if @customers.empty? %>
  <h1>Não há clientes cadastrados</h1>
<% end %>

<%= @customers.each do |c| %>
  <h3><%= link_to c.name, customer_path(id: c.id)%></h3>
<% end %>

<%= form_with url: search_customers_path, method: :get do |f|%>
  <%= f.label :q, 'Busca' %>
  <%= f.search_field :q %>
  <%= f.submit 'Buscar'%>
<% end %>

<%= link_to 'Registrar novo cliente', new_customer_path %>
<%= link_to 'Voltar', root_path %>