<h1>Categoria <%= @carcategories.name %></h1>
<p><%= number_to_currency(@carcategories.daily_rate) %></p>
<p><%= number_to_currency(@carcategories.car_insurance) %></p>
<p><%= number_to_currency(@carcategories.third_part_insurance) %></p>

<h3>Modelos de carros</h3>
<% @carcategories.car_models.each do |car_model| %>
  <%= link_to car_model.name, car_model %>
<% end %>

<%= link_to 'Editar', edit_car_category_path %>
<%= link_to 'Voltar', car_categories_path %>