<dl>
  <dt>Código:</dt>
  <dd><%= @rental.code %></dd>
  <dt>Cliente:</dt>
  <dd><%= @rental.customer.name %></dd>
  <dt>Categoria:</dt>
  <dd><%= @rental.car_category.name %></dd>
  <dt>Data de Início:</dt>
  <dd><%= l @rental.start_date %></dd>
  <dt>Data de Término:</dt>
  <dd><%= l @rental.end_date %></dd>
</dl>

<% if @rental.car_rental.present? %>
  <p>Data de início da locação: <%= l @rental.car_rental.created_at, format: :long %></p>
  <p>Carro: <%= @rental.car_rental.car.license_plate %></p>
  <p>Cliente: <%= @rental.customer.email %></p>
  <% if @rental.ongoing?%>
    <p>Status: <%= Rental.human_attribute_name("status.#{@rental.status}") %></p>
  <% end %>
  <p>Locação iniciada por: <%= @rental.car_rental.user.email %></p>
<% end %>

<%= link_to 'Voltar', rentals_path %>

